@import '../../../styles/css_var';

.board {
  .add-job-div {
    cursor: pointer;
    background-color: $bright-bkgd;
    color: $off-white;
    padding: 15px;
    margin-bottom: 15px;
    span { font-size: 18px; }
  }
}