@import '../../styles/css_var';

.edit-page {
  padding: 0px 20px 45px 20px;
  .form-container {
    padding-bottom: 40px;
    max-height: calc(100vh - 71px);
    overflow: scroll;
    input, .form-group>input, textarea, .flatpickr-input.flatpickr-input.form-control.input, .ui.multiple.dropdown { 
      background-color: $white;
      color: #333;
      border: 0px;
      border-radius: 5px;
      font-size: 16px;
      padding: 6px 12px;
    }
    .ui.multiple.dropdown { font-size: 14px; padding: 5px; }
    .flatpickr-input.flatpickr-input.form-control.input {
      height: 25px;
      overflow: scroll;
    }
    .time-input { width: 4em !important; padding: 6px 2px; border-radius: 0px; }
    label {
      font-size: 16px;
      font-weight: bold;
    }
    .ui.checkbox>label { font-weight: 400; }
    input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
    .ui.button{ font-size: 12px; }
    .ui.button.black { background-color: $black; color: $white; }
    .ui.transparent.button { background-color: transparent ; color: $black; }
  }
  .bottom-bar {
    background-color: rgba(51,51,51,0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    z-index: 5;
  }
}