$bright-bkgd: #f0ce00;
$dark-bkgd: #101010;
$red: red;
$white-bkgd: transparent;
$white: #FEFEFE;
$off-white: #EEE;
$black: $dark-bkgd;
$blue: #337ab7;
$gray: #666;

$div-circle-bkgd: $bright-bkgd;
$div-circle-border: $dark-bkgd;

$jobsBkgd: #EFEFEF;
$jobContainerBkgd: white;
$jobContainerBoxShadow: #AAA;
$applyButtonBorder: white;
$applyButtonBkgd: #F0CE00;
$applyButtonColor: white;
$modalBkgd: $bright-bkgd;

$phoneTall: 544px; /* originally 575 */
$phoneWide: 767px;
$tablet: 1023px;
$desktop: 1024px;