@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Righteous");
.flex-row {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-col {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: vertical;
  -webkit-box-direction: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-hCenter {
  justify-content: center; }

.flex-vStart {
  align-items: flex-start; }

.flex-vCenter {
  align-items: center; }

.flex-vEnd {
  align-items: flex-end; }

.flex-vhCenter {
  justify-content: center;
  align-items: center; }

.flex-spacedBetween {
  justify-content: space-around; }

/*
.flex-row-hCenter {@extend .flex-row; justify-content: center;}
.flex-col-hCenter {@extend .flex-col; justify-content: center;}
.flex-vCenter {align-items: center;}
.flex-row-vCenter {@extend .flex-row; align-items: center;}
.flex-col-vCenter {@extend .flex-col; align-items: center;}
.flex-vhCenter {@extend .flex-hCenter; @extend .flex-vCenter;}
.flex-row-vhCenter {@extend .flex-row; @extend .flex-vhCenter;}
.flex-col-vhCenter {@extend .flex-col; @extend .flex-vhCenter;}
*/
/* originally 575 */
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color: #EEE;
  margin: 0; }

section {
  padding: 20px 0px 20px 0px; }

.full-width {
  width: 100%; }

.text-center {
  text-align: center; }

.inline-block {
  display: inline-block; }

.padding {
  padding: 20px; }

.cursor {
  cursor: pointer !important; }

p.link, span.link {
  color: blue !important;
  cursor: pointer; }

/*********TEXT*********/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous', cursive; }

.red-text {
  color: red; }

.help-text {
  font-size: 11px; }

.inline {
  display: inline-block; }

.sign {
  background-color: #f0ce00;
  min-height: 100vh;
  height: 100%;
  margin-top: 0px; }
  .sign section {
    background-color: #f0ce00;
    margin-top: 0px;
    min-width: 200px;
    max-width: 500px;
    width: 80%; }
  .sign h1, .sign h2, .sign h3, .sign h4, .sign h5, .sign h6, .sign p, .sign label {
    color: #101010; }
  .sign .logo-button {
    margin-left: 10px; }

.board .add {
  color: #f0ce00; }

.board .toggle-div {
  padding: 15px 10px 2px 10px;
  color: #101010;
  text-align: center; }

.board .custom-tooltip {
  z-index: 1000000 !important; }

.board .panel {
  margin-bottom: 0px;
  border-color: transparent; }

.board .panel-body {
  padding: 0px; }

.board .table-responsive {
  margin-bottom: 0px; }

.edit-page {
  padding: 0px 20px 45px 20px; }
  .edit-page .form-container {
    padding-bottom: 40px;
    max-height: calc(100vh - 71px);
    overflow: scroll; }
    .edit-page .form-container textarea {
      max-width: 100% !important;
      min-height: 5em;
      max-height: 15em; }
    .edit-page .form-container input, .edit-page .form-container .form-group > input, .edit-page .form-container textarea, .edit-page .form-container .flatpickr-input.flatpickr-input.form-control.input, .edit-page .form-container .ui.multiple.dropdown {
      background-color: #FEFEFE;
      color: #333;
      border: 0px;
      border-radius: 5px;
      font-size: 14px;
      padding: 6px 12px; }
    .edit-page .form-container .ui.multiple.dropdown {
      font-size: 14px;
      padding: 5px; }
    .edit-page .form-container .flatpickr-input.flatpickr-input.form-control.input {
      height: 25px;
      overflow: scroll; }
    .edit-page .form-container .time-input {
      width: 4em !important;
      padding: 6px 2px;
      border-radius: 0px; }
    .edit-page .form-container label {
      font-size: 20px;
      font-weight: bold; }
    .edit-page .form-container .ui.checkbox > label {
      font-size: 12px;
      font-weight: 400; }
    .edit-page .form-container input[type=number]::-webkit-inner-spin-button, .edit-page .form-container input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; }
    .edit-page .form-container .ui.button {
      background-color: #FEFEFE;
      color: #101010;
      font-weight: 400; }
    .edit-page .form-container .ui.button.black {
      background-color: #101010;
      color: #FEFEFE; }
    .edit-page .form-container .ui.transparent.button {
      background-color: transparent;
      color: #101010; }
    .edit-page .form-container .ui.button.chosen-bubble {
      background-color: #333;
      color: #FEFEFE; }
    .edit-page .form-container input {
      font-size: 12px; }
  .edit-page .bottom-bar {
    background-color: rgba(51, 51, 51, 0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px; }

.padded-side {
  padding: 0px 7px; }

.padded-vertical {
  padding: 7px 0px; }

.padded {
  padding: 7px; }

.margin-side {
  margin: 0px 7px; }

.margin-vertical {
  margin: 7px 0px; }

.margin {
  margin: 7px; }

.editable .fa {
  cursor: pointer;
  color: #337ab7; }

.editable textarea {
  width: 100%;
  resize: none; }

.editable .button-group {
  margin-top: 5px; }

section.profile {
  padding: 20px; }
  section.profile .fade {
    margin-left: -20px !important; }
  section.profile .employers-list-group .list-group {
    margin-bottom: 0px !important; }

.flatpickr-days {
  display: block !important; }
