@import 'flex';
@import './css_var';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Righteous');

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color: $off-white;
  margin: 0;
}

section {
  padding: 20px 0px 20px 0px;
}

.full-width {width: 100%;}
.text-center {text-align: center;}
.inline-block {display: inline-block;}

.padding {padding: 20px;}

.cursor {cursor: pointer !important;}
p.link, span.link {color: $blue !important; cursor: pointer;}

/*********TEXT*********/
h1,h2,h3,h4,h5,h6 {
  font-family: 'Righteous', cursive;
}
.red-text {color: $red;}
.help-text {font-size: 11px;}

.inline {
  display: inline-block;
}

.sign {
  background-color: $bright-bkgd;
  min-height: 100vh;
  height: 100%;
  margin-top: 0px;
  section {
    background-color: $bright-bkgd;
    margin-top: 0px;
    min-width: 200px;
    max-width: 500px;
    width: 80%;
  }
  h1,h2,h3,h4,h5,h6,p,label { color: $dark-bkgd; }
  .logo-button {margin-left: 10px;}
}

.padded-side { padding: 0px 7px; }
.padded-vertical { padding: 7px 0px; }
.padded { padding: 7px; }
.margin-side { margin: 0px 7px; }
.margin-vertical { margin: 7px 0px; }
.margin { margin: 7px; }

.editable {
  .fa {cursor: pointer; color: #337ab7;}
  textarea {width: 100%; resize: none;}
  .button-group {margin-top: 5px;}
}

section.profile {
  padding: 20px;
  .fade {
    margin-left: -20px !important;
  }
  .employers-list-group {
    .list-group {
      margin-bottom: 0px !important;
    }
  }
}

.flatpickr-days {
  display: block !important;
}
