@import 'flex';
@import 'bootstrap';

$bright-bkgd: #f0ce00;
$dark-bkgd: #101010;
$red: red;
$white-bkgd: transparent;
$white: #FEFEFE;
$off-white: #EEE;
$black: $dark-bkgd;
$gray: #666;

$div-circle-bkgd: $bright-bkgd;
$div-circle-border: $dark-bkgd;

$jobsBkgd: #EFEFEF;
$jobContainerBkgd: white;
$jobContainerBoxShadow: #AAA;
$applyButtonBorder: white;
$applyButtonBkgd: #F0CE00;
$applyButtonColor: white;
$modalBkgd: $bright-bkgd;

$phoneTall: 544px; /* originally 575 */
$phoneWide: 767px;
$tablet: 1023px;
$desktop: 1024px;

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
}

section {
  margin-top: 50px;
  padding: 20px;
}

.full-width {width: 100%;}
.text-center {text-align: center;}
.inline-block {display: inline-block;}

.padding {padding: 20px;}

.cursor {cursor: pointer !important;}
p.link, span.link {color: blue !important; cursor: pointer;}

/*********TEXT*********/
h1,h2,h3,h4,h5,h6 {
  font-family: 'Righteous', cursive;
}
.red-text {color: $red;}
.help-text {font-size: 11px;}

.inline {
  display: inline-block;
}

.sign {
  background-color: $bright-bkgd;
  min-height: 100vh;
  height: 100%;
  margin-top: 0px;
  section {
    background-color: $bright-bkgd;
    margin-top: 0px;
    min-width: 200px;
    max-width: 500px;
    width: 80%;
  }
  h1,h2,h3,h4,h5,h6,p,label { color: $dark-bkgd; }
  .logo-button {margin-left: 10px;}
}

.board {
  .add { color: $bright-bkgd; }
  .toggle-div {
    padding: 15px 10px 2px 10px;
    color: $dark-bkgd;
    text-align: center;
  }
  .custom-tooltip {
    z-index: 1000000 !important;
  }
  .panel {
    margin-bottom: 0px;
    // box-shadow: 0px 0px 0px;
    border-color: transparent;
  }
  .panel-body {padding: 0px;}
  .table-responsive {margin-bottom: 0px;}
}

.jobModal {
  // margin: 0px;
  @media screen and (max-width: $phoneTall) { margin: 5vh 5vw; width: 90vw; }
  textarea { max-width: 100% !important; min-height: 5em; max-height: 15em; }
  .modal-content {
    @media screen and (max-width: $phoneTall) { width: 100%; max-height: 90vh; }
    @media screen and (min-width: $phoneTall) { max-height: calc(100vh - 60px); }
    // margin: 5vh 5vw; width: 90vw; max-height: 90vh;
  }
  .modal-body {
    max-height: calc(100vh - (55.5px - 2px) - 60px);
    overflow: scroll;
    background-color: $off-white;
    input, textarea, .flatpickr-input.flatpickr-input.form-control.input, .ui.multiple.dropdown { 
      background-color: $white;
      color: #333;
      border: 0px;
      border-radius: 5px;
      padding: 6px 12px;
    }
    .flatpickr-input.flatpickr-input.form-control.input {
      height: 25px;
      overflow: scroll;
    }
    .time-input { width: 3em; padding: 6px 2px; border-radius: 0px; }
    label, .label {
      font-size: 16px;
      font-weight: bold;
    }
    .ui.checkbox>label { font-size: 12px; font-weight: 400; }
    input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
    .ui.button {
      background-color: $white;
      color: $black;
      font-weight: 400;
    }
    .ui.button.black { background-color: $black; color: $white; }
    .ui.transparent.button { background-color: transparent ; color: $black; }
    .ui.button.chosen-bubble {
      background-color: #333;
      color: $white;
    }
    input {
      font-size: 12px;
    }
  }
  .modal-footer {
    max-height: 55.5px;
    background-color: $off-white;
  }
}

.padded-side { padding: 0px 7px; }
.padded-vertical { padding: 7px 0px; }
.padded { padding: 7px; }
.margin-side { margin: 0px 7px; }
.margin-vertical { margin: 7px 0px; }
.margin { margin: 7px; }

.editable {
  .fa {cursor: pointer; color: #337ab7;}
  textarea {width: 100%; resize: none;}
  .button-group {margin-top: 5px;}
}

section.profile {
  .fade {
    margin-left: -20px !important;
  }
  .employers-list-group {
    .list-group {
      margin-bottom: 0px !important;
    }
  }
}

.flatpickr-days {
  display: block !important;
}
