@import 'flex';
@import 'bootstrap';

$bright-bkgd: #f0ce00;
$dark-bkgd: #101010;
$red: red;
$white-bkgd: transparent;
$white: white;
$off-white: #EEE;

$div-circle-bkgd: $bright-bkgd;
$div-circle-border: $dark-bkgd;

$jobsBkgd: #EFEFEF;
$jobContainerBkgd: white;
$jobContainerBoxShadow: #AAA;
$applyButtonBorder: white;
$applyButtonBkgd: #F0CE00;
$applyButtonColor: white;
$modalBkgd: $bright-bkgd;

$phoneTall: 544px; /* originally 575 */
$phoneWide: 767px;
$tablet: 1023px;
$desktop: 1024px;

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
}

section {
  margin-top: 50px;
  padding: 20px;
}

.full-width {width: 100%;}
.text-center {text-align: center;}
.inline-block {display: inline-block;}

.padding {padding: 20px;}

.cursor {cursor: pointer !important;}

/*********TEXT*********/
h1,h2,h3,h4,h5,h6 {
  font-family: 'Righteous', cursive;
}
.red-text {color: $red;}
.help-text {font-size: 11px;}

.inline {
  display: inline-block;
}

.sign {
  background-color: $bright-bkgd;
  height: 100vh;
  margin-top: 0px;
  section { margin-top: 0px; }
  h1,h2,h3,h4,h5,h6,p,label { color: $dark-bkgd; }
  
  .toggle-link {color: blue;}
  .logo-button {margin-left: 10px;}
}

.board {
  .add {
    border-radius: 50% !important;
    margin-bottom: 5px;
  }
  .toggle-div {
    padding: 15px 10px 2px 10px;
    background-color: #EEE;
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  .addItemModal {
    textarea {
      max-width: 100% !important;
    }
  }

  .custom-tooltip {
    z-index: 1000000 !important;
  }
}

.editable {
  .fa {cursor: pointer; color: #337ab7;}
  textarea {width: 100%; resize: none;}
  .button-group {margin-top: 5px;}
}

section.profile {
  .fade {
    margin-left: -20px !important;
  }
  .employers-list-group {
    .list-group {
      margin-bottom: 0px !important;
    }
  }
}
