/* originally 575 */
div.bright-segment {
  background-color: #F5F5F5;
  padding: 15px;
  margin: 15px; }

.profile-detail-container {
  padding: 20px 10px 10px 10px; }

.indent-second {
  text-indent: 10px; }

.icon-text {
  padding: 4px 0px; }

.icon-text .icon {
  padding: 0px 7px; }
